<div class="ui-g">
  <div class="ui-g-12 ui-md-6" >
    <p-card>
      <ng-container *ngIf="currency">
        <h1>{{currency.code}}</h1>
        <div>
          <ul>
            <li><span style="color:#b3b3b3">code: </span><b>{{currency.code}}</b></li>
            <li><span style="color:#b3b3b3">name: </span><b>{{currency.name}}</b></li>
            <li><span style="color:#b3b3b3">currency_type: </span><b>{{currency.currency_type}}</b></li>
            <li><span style="color:#b3b3b3">code_estandards_alpha: </span><b>{{currency.code_estandards_alpha}}</b></li>
            <li><span style="color:#b3b3b3">code_iso_numeric3: </span><b>{{currency.code_iso_numeric3}}</b></li>
            <li><span style="color:#b3b3b3">code_iso_alpha3: </span><b>{{currency.code_iso_alpha3}}</b></li>
          </ul>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>
